--
-- PostgreSQL database cluster dump
--

\restrict 8ALdorMuSYcRXsFSxswlxUFNXYSaMwxaNuhs47q3dlgMGYAtTtrOXqcSt1R7bem

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:uWPZkWn6v1d7dbGA5BB11Q==$qndPOeZouk0FGRpl/U/TkPBWhmRNpGDNSa2r4/CywT4=:+qc8lA5Jdikgt4ERzysUTHMlY+jCrcfybSNdn1eRzD0=';

--
-- User Configurations
--








\unrestrict 8ALdorMuSYcRXsFSxswlxUFNXYSaMwxaNuhs47q3dlgMGYAtTtrOXqcSt1R7bem

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict 61tFEO5Bje67nb0czBlQlNw7hpw1dn0t1KKc5WbSjhXUxvucrL5Xangkf2lAqx1

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict 61tFEO5Bje67nb0czBlQlNw7hpw1dn0t1KKc5WbSjhXUxvucrL5Xangkf2lAqx1

--
-- Database "inventory_db" dump
--

--
-- PostgreSQL database dump
--

\restrict 0TJLIvTYSF1H6MGbEwW6WldqAhV52I6PhCe7Ful64BgIW7Lbn9xTBlhaL1BYjaZ

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: inventory_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE inventory_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'English_India.1252';


ALTER DATABASE inventory_db OWNER TO postgres;

\unrestrict 0TJLIvTYSF1H6MGbEwW6WldqAhV52I6PhCe7Ful64BgIW7Lbn9xTBlhaL1BYjaZ
\connect inventory_db
\restrict 0TJLIvTYSF1H6MGbEwW6WldqAhV52I6PhCe7Ful64BgIW7Lbn9xTBlhaL1BYjaZ

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id character varying(50),
    product_name character varying(255) NOT NULL,
    product_category character varying(100) DEFAULT 'General'::character varying,
    quantity integer DEFAULT 1 NOT NULL,
    unit_price numeric(10,2) DEFAULT 0.00 NOT NULL,
    total_price numeric(10,2) DEFAULT 0.00 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_id character varying(50) NOT NULL,
    student_name character varying(255) NOT NULL,
    student_email character varying(255) NOT NULL,
    student_phone character varying(50),
    student_id character varying(50),
    department character varying(255),
    year character varying(50),
    course character varying(255),
    status character varying(50) DEFAULT 'pending'::character varying,
    total_amount numeric(10,2) DEFAULT 0.00,
    order_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    shipping_address text,
    notes text
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    product_code character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100) NOT NULL,
    product_type character varying(20) DEFAULT 'physical'::character varying,
    total_quantity integer DEFAULT 0,
    available_quantity integer DEFAULT 0,
    unit_price numeric(10,2) DEFAULT 0.00,
    location character varying(255),
    manufacturer character varying(255),
    model_number character varying(100),
    is_active boolean DEFAULT true,
    is_lendable boolean DEFAULT false,
    max_lending_days integer DEFAULT 30,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.order_items VALUES (1, 'ORD001', 'Laptop - Dell XPS 13', 'Electronics', 1, 350.00, 350.00, '2025-08-23 10:55:39.613163');
INSERT INTO public.order_items VALUES (2, 'ORD001', 'Programming Textbook', 'Books', 2, 50.00, 100.00, '2025-08-23 10:55:39.613163');
INSERT INTO public.order_items VALUES (3, 'ORD002', 'Marketing Strategy Book', 'Books', 1, 80.00, 80.00, '2025-08-23 10:55:39.613163');


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.orders VALUES (1, 'ORD001', 'John Smith', 'john.smith@university.edu', '+1-555-0101', 'STU001', 'Computer Science', '3rd Year', 'Software Engineering', 'pending', 450.00, '2025-08-23 10:55:39.613163', '2025-08-23 10:55:39.613163', NULL, NULL);
INSERT INTO public.orders VALUES (2, 'ORD002', 'Emily Johnson', 'emily.j@university.edu', '+1-555-0102', 'STU002', 'Business Administration', '2nd Year', 'Marketing', 'confirmed', 320.00, '2025-08-23 10:55:39.613163', '2025-08-23 10:55:39.613163', NULL, NULL);
INSERT INTO public.orders VALUES (3, 'ORD003', 'Michael Brown', 'michael.b@university.edu', '+1-555-0103', 'STU003', 'Engineering', '4th Year', 'Mechanical Engineering', 'processing', 780.00, '2025-08-23 10:55:39.613163', '2025-08-23 10:55:39.613163', NULL, NULL);


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.products VALUES (275, 'PRD-002', 'Raspberry Pi 4', 'Single board computer with 8GB RAM', 'Single Board Computers', 'returnable', 25, 20, 85.00, 'Lab Storage Room A', 'Raspberry Pi Foundation', 'Pi4-8GB', true, true, 14, '2025-08-23 15:40:41.227201', '2025-08-23 15:40:41.227201');
INSERT INTO public.products VALUES (276, 'PRD-003', 'LED Strips (5m)', 'RGB LED strip for lighting projects', 'LEDs & Lighting', 'consumable', 100, 85, 15.00, 'Components Storage', 'Generic', 'RGB-5M', true, false, 0, '2025-08-23 15:40:41.227201', '2025-08-23 15:40:41.227201');
INSERT INTO public.products VALUES (277, 'PRD-004', 'Breadboard Large', '830-point solderless breadboard', 'Prototyping', 'returnable', 75, 70, 8.50, 'Components Storage', 'Generic', 'BB-830', true, true, 7, '2025-08-23 15:40:41.227201', '2025-08-23 15:40:41.227201');


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_id_seq', 13, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_id_seq', 6, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 277, true);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_order_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_order_id_key UNIQUE (order_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_product_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_product_code_key UNIQUE (product_code);


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: idx_orders_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_date ON public.orders USING btree (order_date);


--
-- Name: idx_orders_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_order_id ON public.orders USING btree (order_id);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 0TJLIvTYSF1H6MGbEwW6WldqAhV52I6PhCe7Ful64BgIW7Lbn9xTBlhaL1BYjaZ

--
-- Database "inventory_management" dump
--

--
-- PostgreSQL database dump
--

\restrict ksIWCh7e0UNTqNQDYOjPh6manSGihyqXjSLt1We7MU2CVQm1vFvebFQpgXaIHC9

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: inventory_management; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE inventory_management WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'English_India.1252';


ALTER DATABASE inventory_management OWNER TO postgres;

\unrestrict ksIWCh7e0UNTqNQDYOjPh6manSGihyqXjSLt1We7MU2CVQm1vFvebFQpgXaIHC9
\connect inventory_management
\restrict ksIWCh7e0UNTqNQDYOjPh6manSGihyqXjSLt1We7MU2CVQm1vFvebFQpgXaIHC9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: create_lending_invoice(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_lending_invoice() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Only create invoice for approved lending orders
    IF NEW.status = 'approved' AND NEW.order_type = 'lending' AND OLD.status = 'pending' THEN
        INSERT INTO invoices (
            order_id,
            student_id,
            invoice_type,
            status,
            total_items,
            due_date,
            issued_by
        )
        VALUES (
            NEW.id,
            NEW.student_id,
            'lending',
            'issued',
            NEW.total_items,
            NEW.expected_return_date,
            NEW.approved_by
        );
        
        -- Log the transaction
        INSERT INTO invoice_transactions (
            invoice_id,
            transaction_type,
            new_status,
            performed_by,
            changes_summary
        )
        SELECT 
            i.id,
            'created',
            'issued',
            NEW.approved_by,
            'Auto-generated lending invoice for approved order'
        FROM invoices i
        WHERE i.order_id = NEW.id;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_lending_invoice() OWNER TO postgres;

--
-- Name: find_or_create_lender(character varying, character varying, character varying, character varying, character varying, character varying, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.find_or_create_lender(p_lender_id character varying, p_name character varying, p_email character varying, p_phone character varying DEFAULT NULL::character varying, p_department character varying DEFAULT 'Unknown'::character varying, p_designation character varying DEFAULT NULL::character varying, p_employee_id character varying DEFAULT NULL::character varying) RETURNS uuid
    LANGUAGE plpgsql
    AS $$
DECLARE
    existing_lender_uuid UUID;
    new_lender_uuid UUID;
BEGIN
    -- First try to find by lender_id
    IF p_lender_id IS NOT NULL AND p_lender_id != '' THEN
        SELECT id INTO existing_lender_uuid 
        FROM lenders 
        WHERE lender_id = p_lender_id 
        LIMIT 1;
        
        IF existing_lender_uuid IS NOT NULL THEN
            RETURN existing_lender_uuid;
        END IF;
    END IF;
    
    -- Then try to find by email
    IF p_email IS NOT NULL AND p_email != '' THEN
        SELECT id INTO existing_lender_uuid 
        FROM lenders 
        WHERE email = p_email 
        LIMIT 1;
        
        IF existing_lender_uuid IS NOT NULL THEN
            RETURN existing_lender_uuid;
        END IF;
    END IF;
    
    -- Then try to find by employee_id
    IF p_employee_id IS NOT NULL AND p_employee_id != '' THEN
        SELECT id INTO existing_lender_uuid 
        FROM lenders 
        WHERE employee_id = p_employee_id 
        LIMIT 1;
        
        IF existing_lender_uuid IS NOT NULL THEN
            RETURN existing_lender_uuid;
        END IF;
    END IF;
    
    -- If not found, create new lender
    new_lender_uuid = uuid_generate_v4();
    
    INSERT INTO lenders (
        id, lender_id, name, email, phone, department, designation, employee_id
    ) VALUES (
        new_lender_uuid, p_lender_id, p_name, p_email, p_phone, p_department, p_designation, p_employee_id
    );
    
    RETURN new_lender_uuid;
END;
$$;


ALTER FUNCTION public.find_or_create_lender(p_lender_id character varying, p_name character varying, p_email character varying, p_phone character varying, p_department character varying, p_designation character varying, p_employee_id character varying) OWNER TO postgres;

--
-- Name: find_or_create_student(character varying, character varying, character varying, character varying, character varying, integer, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.find_or_create_student(p_student_id character varying, p_name character varying, p_email character varying, p_phone character varying DEFAULT NULL::character varying, p_department character varying DEFAULT 'Unknown'::character varying, p_year_of_study integer DEFAULT NULL::integer, p_course character varying DEFAULT NULL::character varying) RETURNS uuid
    LANGUAGE plpgsql
    AS $$
DECLARE
    existing_student_uuid UUID;
    new_student_uuid UUID;
BEGIN
    -- First try to find by student_id
    IF p_student_id IS NOT NULL AND p_student_id != '' THEN
        SELECT id INTO existing_student_uuid 
        FROM students 
        WHERE student_id = p_student_id 
        LIMIT 1;
        
        IF existing_student_uuid IS NOT NULL THEN
            RETURN existing_student_uuid;
        END IF;
    END IF;
    
    -- Then try to find by email
    IF p_email IS NOT NULL AND p_email != '' THEN
        SELECT id INTO existing_student_uuid 
        FROM students 
        WHERE email = p_email 
        LIMIT 1;
        
        IF existing_student_uuid IS NOT NULL THEN
            RETURN existing_student_uuid;
        END IF;
    END IF;
    
    -- If not found, create new student
    new_student_uuid = uuid_generate_v4();
    
    INSERT INTO students (
        id, student_id, name, email, phone, department, year_of_study, course
    ) VALUES (
        new_student_uuid, p_student_id, p_name, p_email, p_phone, p_department, p_year_of_study, p_course
    );
    
    RETURN new_student_uuid;
END;
$$;


ALTER FUNCTION public.find_or_create_student(p_student_id character varying, p_name character varying, p_email character varying, p_phone character varying, p_department character varying, p_year_of_study integer, p_course character varying) OWNER TO postgres;

--
-- Name: generate_invoice_number(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_invoice_number() RETURNS trigger
    LANGUAGE plpgsql
    AS $_$
DECLARE
    next_number INTEGER;
    prefix TEXT;
BEGIN
    -- Determine prefix based on invoice type
    CASE NEW.invoice_type
        WHEN 'lending' THEN prefix := 'LEN';
        WHEN 'return' THEN prefix := 'RET';
        WHEN 'damage' THEN prefix := 'DAM';
        WHEN 'replacement' THEN prefix := 'REP';
        ELSE prefix := 'INV';
    END CASE;
    
    -- Get the next invoice number for this type
    SELECT COALESCE(MAX(CAST(SUBSTRING(invoice_number FROM LENGTH(prefix) + 1) AS INTEGER)), 0) + 1 
    INTO next_number 
    FROM invoices 
    WHERE invoice_number ~ ('^' || prefix || '[0-9]+$');
    
    -- Generate the invoice number
    NEW.invoice_number = prefix || LPAD(next_number::TEXT, 3, '0');
    
    RETURN NEW;
END;
$_$;


ALTER FUNCTION public.generate_invoice_number() OWNER TO postgres;

--
-- Name: generate_lender_id(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_lender_id() RETURNS trigger
    LANGUAGE plpgsql
    AS $_$
DECLARE
    next_number INTEGER;
    new_id VARCHAR(50);
BEGIN
    -- Only generate if lender_id is null or empty
    IF NEW.lender_id IS NULL OR NEW.lender_id = '' THEN
        -- Get the next lender number
        SELECT COALESCE(MAX(CAST(SUBSTRING(lender_id FROM 'LEND([0-9]+)') AS INTEGER)), 0) + 1 
        INTO next_number 
        FROM lenders 
        WHERE lender_id ~ '^LEND[0-9]+$';
        
        -- Generate the lender ID
        NEW.lender_id = 'LEND' || LPAD(next_number::TEXT, 6, '0');
    END IF;
    
    RETURN NEW;
END;
$_$;


ALTER FUNCTION public.generate_lender_id() OWNER TO postgres;

--
-- Name: generate_student_id(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.generate_student_id() RETURNS trigger
    LANGUAGE plpgsql
    AS $_$
DECLARE
    next_number INTEGER;
    new_id VARCHAR(50);
BEGIN
    -- Only generate if student_id is null or empty
    IF NEW.student_id IS NULL OR NEW.student_id = '' THEN
        -- Get the next student number
        SELECT COALESCE(MAX(CAST(SUBSTRING(student_id FROM 'STUD([0-9]+)') AS INTEGER)), 0) + 1 
        INTO next_number 
        FROM students 
        WHERE student_id ~ '^STUD[0-9]+$';
        
        -- Generate the student ID
        NEW.student_id = 'STUD' || LPAD(next_number::TEXT, 6, '0');
    END IF;
    
    RETURN NEW;
END;
$_$;


ALTER FUNCTION public.generate_student_id() OWNER TO postgres;

--
-- Name: update_product_quantity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_product_quantity() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
                BEGIN
                    IF TG_OP = 'INSERT' THEN
                        UPDATE products 
                        SET quantity_available = quantity_available - NEW.quantity_approved
                        WHERE id = NEW.product_id;
                        
                        INSERT INTO product_transactions (
                            product_id, transaction_type, quantity_change, 
                            quantity_before, quantity_after, reference_type, reference_id
                        )
                        SELECT 
                            NEW.product_id, 'stock_out', -NEW.quantity_approved,
                            p.quantity_available + NEW.quantity_approved,
                            p.quantity_available,
                            'order', NEW.order_id
                        FROM products p WHERE p.id = NEW.product_id;
                        
                        RETURN NEW;
                    END IF;
                    
                    IF TG_OP = 'UPDATE' THEN
                        IF OLD.quantity_approved != NEW.quantity_approved THEN
                            UPDATE products 
                            SET quantity_available = quantity_available + OLD.quantity_approved - NEW.quantity_approved
                            WHERE id = NEW.product_id;
                        END IF;
                        
                        IF OLD.quantity_returned != NEW.quantity_returned THEN
                            UPDATE products 
                            SET quantity_available = quantity_available + (NEW.quantity_returned - OLD.quantity_returned)
                            WHERE id = NEW.product_id;
                        END IF;
                        
                        RETURN NEW;
                    END IF;
                    
                    IF TG_OP = 'DELETE' THEN
                        UPDATE products 
                        SET quantity_available = quantity_available + OLD.quantity_approved - OLD.quantity_returned
                        WHERE id = OLD.product_id;
                        
                        RETURN OLD;
                    END IF;
                    
                    RETURN NULL;
                END;
                $$;


ALTER FUNCTION public.update_product_quantity() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
                BEGIN
                    NEW.updated_at = CURRENT_TIMESTAMP;
                    RETURN NEW;
                END;
                $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(100) NOT NULL,
    resource_type character varying(50),
    resource_id character varying(100),
    details jsonb,
    ip_address inet,
    user_agent text,
    success boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.courses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_id_seq OWNER TO postgres;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.courses_id_seq OWNED BY public.courses.id;


--
-- Name: designations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.designations OWNER TO postgres;

--
-- Name: designations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.designations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.designations_id_seq OWNER TO postgres;

--
-- Name: designations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.designations_id_seq OWNED BY public.designations.id;


--
-- Name: email_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_notifications (
    id integer NOT NULL,
    order_id character varying(255) NOT NULL,
    student_email character varying(255),
    admin_email character varying(255),
    student_sent boolean DEFAULT false,
    admin_sent boolean DEFAULT false,
    sent_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    errors text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.email_notifications OWNER TO postgres;

--
-- Name: email_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_notifications_id_seq OWNER TO postgres;

--
-- Name: email_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_notifications_id_seq OWNED BY public.email_notifications.id;


--
-- Name: invoice_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice_images (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_id uuid,
    image_type character varying(50) NOT NULL,
    image_url text NOT NULL,
    image_filename character varying(255),
    image_size integer,
    image_format character varying(10),
    uploaded_by character varying(200),
    upload_method character varying(50),
    capture_timestamp timestamp without time zone,
    device_info jsonb,
    processing_status character varying(50) DEFAULT 'pending'::character varying,
    ocr_text text,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.invoice_images OWNER TO postgres;

--
-- Name: invoice_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_id uuid,
    product_id uuid,
    order_item_id uuid,
    product_name character varying(200) NOT NULL,
    product_sku character varying(100) NOT NULL,
    quantity integer NOT NULL,
    unit_value numeric(10,2) DEFAULT 0.00,
    total_value numeric(10,2) DEFAULT 0.00,
    lending_duration_days integer,
    expected_return_date timestamp without time zone,
    actual_return_date timestamp without time zone,
    return_condition character varying(100),
    damage_assessment text,
    damage_fee numeric(10,2) DEFAULT 0.00,
    replacement_needed boolean DEFAULT false,
    replacement_fee numeric(10,2) DEFAULT 0.00,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    product_category character varying(100),
    product_description text,
    manufacturer character varying(100),
    model_number character varying(100),
    replacement_cost numeric(10,2) DEFAULT 0.00,
    condition_at_lending character varying(100) DEFAULT 'good'::character varying,
    risk_level character varying(50) DEFAULT 'low'::character varying,
    usage_purpose character varying(200)
);


ALTER TABLE public.invoice_items OWNER TO postgres;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_number character varying(50) NOT NULL,
    order_id uuid,
    student_id uuid,
    invoice_type character varying(50) DEFAULT 'lending'::character varying,
    status character varying(50) DEFAULT 'draft'::character varying,
    total_items integer DEFAULT 0,
    total_value numeric(10,2) DEFAULT 0.00,
    lending_fee numeric(10,2) DEFAULT 0.00,
    damage_fee numeric(10,2) DEFAULT 0.00,
    replacement_fee numeric(10,2) DEFAULT 0.00,
    issue_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    due_date timestamp without time zone,
    acknowledgment_date timestamp without time zone,
    has_physical_copy boolean DEFAULT false,
    physical_invoice_captured boolean DEFAULT false,
    physical_invoice_image_url text,
    physical_invoice_notes text,
    issued_by character varying(200),
    acknowledged_by_student boolean DEFAULT false,
    student_signature_url text,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    student_name_override character varying(200),
    student_email_override character varying(200),
    student_department_override character varying(200),
    use_student_override boolean DEFAULT false,
    lender_id uuid,
    issued_by_lender uuid,
    lending_purpose text,
    supervisor_name character varying(200),
    borrower_phone character varying(20),
    lending_location character varying(200),
    project_name character varying(200),
    supervisor_email character varying(200),
    lending_terms text,
    borrower_address text,
    requested_start_date timestamp without time zone,
    actual_lending_date timestamp without time zone,
    grace_period_days integer DEFAULT 7,
    security_deposit numeric(10,2) DEFAULT 0.00,
    late_return_fee numeric(10,2) DEFAULT 0.00,
    issuer_designation character varying(100),
    approved_by character varying(200),
    approval_date timestamp without time zone,
    special_instructions text,
    risk_assessment character varying(50),
    acknowledgment_method character varying(50),
    CONSTRAINT invoices_must_have_borrower CHECK (((student_id IS NOT NULL) OR (lender_id IS NOT NULL)))
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: lenders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lenders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    lender_id character varying(50),
    name character varying(200) NOT NULL,
    email character varying(200),
    phone character varying(20),
    department character varying(100) DEFAULT 'Unknown'::character varying NOT NULL,
    designation character varying(100),
    employee_id character varying(50),
    office_location character varying(200),
    authority_level character varying(50) DEFAULT 'standard'::character varying,
    can_approve_lending boolean DEFAULT true,
    can_lend_high_value boolean DEFAULT false,
    max_lending_value numeric(10,2) DEFAULT 1000.00,
    emergency_contact character varying(200),
    emergency_phone character varying(20),
    is_active boolean DEFAULT true,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lenders OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    order_number character varying(50) NOT NULL,
    student_id uuid,
    order_type character varying(50) DEFAULT 'lending'::character varying,
    status character varying(50) DEFAULT 'pending'::character varying,
    total_items integer DEFAULT 0,
    total_value numeric(10,2) DEFAULT 0.00,
    notes text,
    requested_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    approved_date timestamp without time zone,
    completed_date timestamp without time zone,
    expected_return_date timestamp without time zone,
    actual_return_date timestamp without time zone,
    approved_by character varying(200),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    lender_id uuid,
    approved_by_lender uuid,
    CONSTRAINT orders_must_have_borrower CHECK (((student_id IS NOT NULL) OR (lender_id IS NOT NULL)))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: student_acknowledgments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_acknowledgments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_id uuid,
    student_id uuid,
    acknowledgment_type character varying(50) NOT NULL,
    acknowledged_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    acknowledgment_method character varying(50),
    signature_image_url text,
    photo_evidence_url text,
    digital_signature_data text,
    acknowledgment_location character varying(200),
    witness_name character varying(200),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.student_acknowledgments OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    student_id character varying(50),
    name character varying(200) NOT NULL,
    email character varying(200),
    phone character varying(20),
    department character varying(100),
    year_of_study integer,
    course character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    address text
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: invoice_details; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.invoice_details AS
 SELECT i.id,
    i.invoice_number,
    i.invoice_type,
    i.status,
    i.issue_date,
    i.due_date,
    i.acknowledgment_date,
    i.total_items,
    i.total_value,
    i.lending_fee,
    i.damage_fee,
    i.replacement_fee,
    i.has_physical_copy,
    i.physical_invoice_captured,
    i.physical_invoice_image_url,
    i.issued_by,
    i.acknowledged_by_student,
    i.notes,
    o.order_number,
    o.status AS order_status,
    o.requested_date,
    o.expected_return_date,
        CASE
            WHEN i.use_student_override THEN i.student_name_override
            ELSE s.name
        END AS student_name,
    s.student_id,
        CASE
            WHEN i.use_student_override THEN i.student_email_override
            ELSE s.email
        END AS student_email,
        CASE
            WHEN i.use_student_override THEN i.student_department_override
            ELSE s.department
        END AS department,
    s.year_of_study,
    l.name AS lender_name,
    l.lender_id,
    l.email AS lender_email,
    l.department AS lender_department,
    l.designation AS lender_designation,
    l.office_location AS lender_office,
    il.name AS issued_by_lender_name,
    il.lender_id AS issued_by_lender_id,
    ( SELECT count(*) AS count
           FROM public.invoice_items ii
          WHERE (ii.invoice_id = i.id)) AS item_count,
    ( SELECT count(*) AS count
           FROM public.invoice_images img
          WHERE (img.invoice_id = i.id)) AS image_count,
    ( SELECT count(*) AS count
           FROM public.student_acknowledgments sa
          WHERE (sa.invoice_id = i.id)) AS acknowledgment_count,
    ( SELECT sa.acknowledged_at
           FROM public.student_acknowledgments sa
          WHERE (sa.invoice_id = i.id)
          ORDER BY sa.acknowledged_at DESC
         LIMIT 1) AS latest_acknowledgment,
    i.created_at,
    i.updated_at
   FROM ((((public.invoices i
     LEFT JOIN public.orders o ON ((i.order_id = o.id)))
     LEFT JOIN public.students s ON ((i.student_id = s.id)))
     LEFT JOIN public.lenders l ON ((i.lender_id = l.id)))
     LEFT JOIN public.lenders il ON ((i.issued_by_lender = il.id)));


ALTER VIEW public.invoice_details OWNER TO postgres;

--
-- Name: invoice_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice_transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    invoice_id uuid,
    transaction_type character varying(50) NOT NULL,
    previous_status character varying(50),
    new_status character varying(50),
    performed_by character varying(200),
    changes_summary text,
    change_reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.invoice_transactions OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    type character varying(50) NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    order_id uuid,
    product_id uuid,
    quantity_requested integer NOT NULL,
    quantity_approved integer DEFAULT 0,
    quantity_returned integer DEFAULT 0,
    unit_price numeric(10,2) DEFAULT 0.00,
    total_price numeric(10,2) DEFAULT 0.00,
    is_returnable boolean NOT NULL,
    expected_return_date timestamp without time zone,
    actual_return_date timestamp without time zone,
    return_condition character varying(100),
    notes text,
    status character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: product_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_transactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    product_id uuid,
    transaction_type character varying(50) NOT NULL,
    quantity_change integer NOT NULL,
    quantity_before integer,
    quantity_after integer,
    reference_type character varying(50),
    reference_id uuid,
    notes text,
    created_by character varying(200),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    performed_by character varying(200)
);


ALTER TABLE public.product_transactions OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    category_id uuid,
    sku character varying(100) NOT NULL,
    quantity_available integer DEFAULT 0 NOT NULL,
    quantity_total integer DEFAULT 0 NOT NULL,
    is_returnable boolean DEFAULT true NOT NULL,
    unit_price numeric(10,2) DEFAULT 0.00,
    location character varying(100),
    minimum_stock_level integer DEFAULT 0,
    image_url text,
    specifications jsonb,
    tags text[],
    status character varying(50) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_of_purchase date
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: students_clean; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.students_clean AS
 SELECT id,
    student_id,
    name,
    email,
    phone,
    department,
    year_of_study,
    course,
    is_active,
    created_at,
    updated_at,
    row_number() OVER (PARTITION BY student_id ORDER BY created_at) AS student_id_rank,
    row_number() OVER (PARTITION BY email ORDER BY created_at) AS email_rank
   FROM public.students
  WHERE (is_active = true);


ALTER VIEW public.students_clean OWNER TO postgres;

--
-- Name: students_unique; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.students_unique AS
 SELECT id,
    student_id,
    name,
    email,
    phone,
    department,
    year_of_study,
    course,
    is_active,
    created_at,
    updated_at,
    student_id_rank,
    email_rank
   FROM public.students_clean
  WHERE ((student_id_rank = 1) AND (email_rank = 1));


ALTER VIEW public.students_unique OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    id integer NOT NULL,
    category character varying(50) NOT NULL,
    key character varying(100) NOT NULL,
    value text NOT NULL,
    data_type character varying(20) DEFAULT 'string'::character varying NOT NULL,
    description text,
    is_sensitive boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: system_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.system_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_settings_id_seq OWNER TO postgres;

--
-- Name: system_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.system_settings_id_seq OWNED BY public.system_settings.id;


--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    access_token_jti character varying(255) NOT NULL,
    refresh_token_jti character varying(255) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    refresh_expires_at timestamp without time zone NOT NULL,
    is_active boolean DEFAULT true,
    ip_address inet,
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_sessions_id_seq OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100),
    role character varying(20) DEFAULT 'viewer'::character varying NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    permissions jsonb DEFAULT '{"actions": ["read"], "modules": ["dashboard"]}'::jsonb
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: courses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses ALTER COLUMN id SET DEFAULT nextval('public.courses_id_seq'::regclass);


--
-- Name: designations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designations ALTER COLUMN id SET DEFAULT nextval('public.designations_id_seq'::regclass);


--
-- Name: email_notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_notifications ALTER COLUMN id SET DEFAULT nextval('public.email_notifications_id_seq'::regclass);


--
-- Name: system_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings ALTER COLUMN id SET DEFAULT nextval('public.system_settings_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.categories VALUES ('f12bc421-703b-4806-97ad-9ab958c95929', 'Microcontrollers', 'Development boards and microcontroller units', '2025-08-29 12:24:42.943711', '2025-08-29 12:24:42.943711');
INSERT INTO public.categories VALUES ('e7c2105c-9786-4600-b91e-fab9b98d5a51', 'Sensors', 'Various sensors for data collection', '2025-08-29 12:24:42.943711', '2025-08-29 12:24:42.943711');
INSERT INTO public.categories VALUES ('fb6237cb-a72a-487f-a699-39e8199a2710', 'Tools', 'Development and debugging tools', '2025-08-29 12:24:42.943711', '2025-08-29 12:24:42.943711');


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.courses VALUES (1, 'ffff', '2025-09-18 22:29:55.388858', '2025-09-18 22:29:55.388858');
INSERT INTO public.courses VALUES (2, 'cse', '2025-09-19 08:38:19.463226', '2025-09-19 08:38:19.463226');
INSERT INTO public.courses VALUES (3, 'jjjjj', '2025-09-19 12:03:31.273819', '2025-09-19 12:03:31.273819');


--
-- Data for Name: designations; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.designations VALUES (1, 'Professor', '2025-09-19 12:12:49.788028', '2025-09-19 12:12:49.788028');
INSERT INTO public.designations VALUES (2, 'Associate Professor', '2025-09-19 12:12:49.792905', '2025-09-19 12:12:49.792905');
INSERT INTO public.designations VALUES (3, 'Assistant Professor', '2025-09-19 12:12:49.793532', '2025-09-19 12:12:49.793532');


--
-- Data for Name: email_notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invoice_images; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.invoice_items VALUES ('a14e9aef-5ee7-4744-a5c4-e4c6c51357a2', 'ffcd9f4c-2771-484b-b9a9-d10d649c26dc', '57ea30b8-a0d2-4913-9cbb-136a5adfbbb9', '86d41dbe-df49-44cf-8cb9-f16bed8d5f22', '444d', '44', 1, 44.00, 0.00, NULL, NULL, NULL, NULL, NULL, 0.00, false, 0.00, NULL, '2025-09-20 22:52:40.767751', '2025-09-20 22:52:40.767751', NULL, NULL, NULL, NULL, 0.00, 'good', 'low', NULL);
INSERT INTO public.invoice_items VALUES ('d8fab3dd-c741-4027-80c9-a049f8df1b2e', 'db0e0822-ca75-4e03-a3d8-cc823568aec3', '57ea30b8-a0d2-4913-9cbb-136a5adfbbb9', 'fc5315d4-c071-4eaf-aa57-1c218322c92e', '444d', '44', 1, 44.00, 0.00, NULL, NULL, NULL, NULL, NULL, 0.00, false, 0.00, NULL, '2025-09-20 22:54:40.491371', '2025-09-20 22:54:40.491371', NULL, NULL, NULL, NULL, 0.00, 'good', 'low', NULL);
INSERT INTO public.invoice_items VALUES ('a46815f3-7f0d-468b-a675-9e5c7b8a36e7', '82d80ef2-0609-420f-afd3-d45422e1fd5e', '57ea30b8-a0d2-4913-9cbb-136a5adfbbb9', NULL, '444d', '44', 10, 44.00, 440.00, 30, '2025-09-20 00:00:00', NULL, NULL, NULL, 0.00, false, 0.00, '', '2025-09-21 14:47:24.907009', '2025-09-21 14:47:24.907009', NULL, NULL, NULL, NULL, 0.00, 'good', 'low', NULL);


--
-- Data for Name: invoice_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.invoice_transactions VALUES ('48f535c6-c534-446c-9118-0d02bf10d2bb', '29867e85-9ccf-46f5-b732-7b2c62220b93', 'created', NULL, 'issued', 'Bulk OCR System', 'Invoice created via bulk upload for Alex Rodriguez', NULL, '2025-09-19 23:37:44.262279');
INSERT INTO public.invoice_transactions VALUES ('fb02aef3-cca8-4072-8b71-f1d506677a3f', 'b5619a29-7d21-4490-ac34-a016afc83c2b', 'created', NULL, 'issued', 'Test System', 'Auto-generated from order ORD065', NULL, '2025-09-20 22:49:52.06512');
INSERT INTO public.invoice_transactions VALUES ('38b659df-752b-4d16-a6a4-7137d9f2e3f9', 'a251c04e-e785-461e-af59-2fd04673ea13', 'created', NULL, 'issued', 'Test System', 'Auto-generated from order ORD065', NULL, '2025-09-20 22:51:02.2408');


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.invoices VALUES ('8746df36-f895-4def-b4a7-71b0d6701c70', 'LEN001', NULL, '860fcc8c-035e-4929-9a7a-62699fe81771', 'lending', 'issued', 0, 0.00, 0.00, 0.00, 0.00, '2025-09-19 15:11:57.89014', NULL, NULL, false, false, NULL, NULL, 'Bulk OCR System', false, NULL, 'Bulk uploaded invoice. OCR confidence: 0.8%', '2025-09-19 15:11:57.89014', '2025-09-19 15:11:57.89014', NULL, NULL, NULL, false, 'fc7d33d0-f2b2-4e48-99d8-697c0f81a3b4', 'fc7d33d0-f2b2-4e48-99d8-697c0f81a3b4', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 7, 0.00, 0.00, NULL, NULL, NULL, NULL, NULL, NULL);


--
-- Data for Name: lenders; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.lenders VALUES ('9df6a827-48b0-45ca-be19-1ba6897ac008', 'LEND000003', 'Mike Johnson', 'm.johnson@college.edu', '+1-555-0103', 'Mechanical Engineering', 'Lab Assistant', 'EMP003', 'ME Workshop - Room 110', 'standard', true, false, 1500.00, NULL, NULL, true, NULL, '2025-09-15 13:58:41.18922', '2025-09-19 09:54:09.045216');
INSERT INTO public.lenders VALUES ('02ce6d2d-7f8d-4e20-b6c0-a0c86aa82084', 'LEND000002', 'Sarah Wilson', 's.wilson@college.edu', '+1-555-0102', 'Electrical Engineering', 'Lab Coordinator', 'EMP002', 'EE Lab - Room 205', 'standard', true, false, 2000.00, NULL, NULL, true, NULL, '2025-09-15 13:58:41.18922', '2025-09-19 09:54:09.045216');
INSERT INTO public.lenders VALUES ('fc7d33d0-f2b2-4e48-99d8-697c0f81a3b4', 'LEND171176', 'Sarah Johnson', NULL, NULL, 'Auto-Generated', 'Staff', 'STF20256681', NULL, 'standard', true, false, 1000.00, NULL, NULL, true, NULL, '2025-09-17 21:05:11.06509', '2025-09-19 09:54:09.045216');


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.product_transactions VALUES ('e375feb3-a016-4b0f-86de-41366f062482', '57ea30b8-a0d2-4913-9cbb-136a5adfbbb9', 'stock_out', 0, 1, 1, 'order', '5b8d976b-2e7a-4dc7-a5e7-702e87c4e2b5', NULL, NULL, '2025-09-19 20:23:17.631201', NULL);
INSERT INTO public.product_transactions VALUES ('4d7bc5e9-5bd6-4312-a0e0-cbfe25bf911f', '57ea30b8-a0d2-4913-9cbb-136a5adfbbb9', 'stock_out', 0, 2331, 2331, 'order', 'f3b00291-ae86-44a9-843e-53299ec1dfb0', NULL, NULL, '2025-09-19 21:07:29.183762', NULL);
INSERT INTO public.product_transactions VALUES ('b389e74d-0672-4a03-810e-15899003db50', '57ea30b8-a0d2-4913-9cbb-136a5adfbbb9', 'stock_out', 0, 2330, 2330, 'order', 'd76c9fab-6918-49a3-86e0-17a7d87c12b6', NULL, NULL, '2025-09-19 21:09:57.671329', NULL);


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student_acknowledgments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.students VALUES ('3de51415-f7b4-4bdc-9cfc-0eba4fcae37c', 'TEST001', 'Test Student', 'test@example.com', '1234567890', NULL, 1, 'Computer Science', true, '2025-09-19 09:20:11.56072', '2025-09-19 09:35:06.40628', NULL);
INSERT INTO public.students VALUES ('44cc04fd-7308-4377-88e0-79525494b37b', 'qwre', 'hihiihihihqewqwe', 'guganasfr@gmail.com3', '075300001452', NULL, 2, 'cse', false, '2025-09-19 09:20:48.997478', '2025-09-19 09:35:54.289879', NULL);
INSERT INTO public.students VALUES ('838df7f9-d99f-49b3-8ac0-d7f23385c26f', 'TEST123', 'Test Student', 'test@test.com', '1234567890', NULL, 2, 'Computer Science', true, '2025-09-19 12:53:23.884159', '2025-09-19 12:53:23.884159', NULL);


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.system_settings VALUES (11, 'ocr', 'tesseract_path', 'C:\Program Files\Tesseract-OCR\tesseract.exe', 'string', NULL, false, '2025-09-01 11:02:03.173728', '2025-09-01 11:02:03.173728');
INSERT INTO public.system_settings VALUES (12, 'ocr', 'confidence_threshold', '0.7', 'float', NULL, false, '2025-09-01 11:02:03.17415', '2025-09-01 11:02:03.17415');
INSERT INTO public.system_settings VALUES (13, 'ocr', 'processing_timeout', '30', 'int', NULL, false, '2025-09-01 11:02:03.174598', '2025-09-01 11:02:03.174598');


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users VALUES (5, 'admin', 'admin@college.edu', '19a9efee010bdc16a8b8d756b50038434752cae3af85babc710ca71a0e7f717b', 'System Administrator', 'main_admin', 'active', true, '2025-09-02 22:39:48.404235', '2025-09-21 14:47:39.05549', '{"actions": ["read"], "modules": ["dashboard"]}');
INSERT INTO public.users VALUES (51, 'admindd', 'gudganasfr@gmail.com', '19a9efee010bdc16a8b8d756b50038434752cae3af85babc710ca71a0e7f717b', 'sdfsfa', 'sub_admin', 'active', true, '2025-09-18 11:03:41.311978', '2025-09-18 11:03:41.311978', '{"actions": ["read"], "modules": ["dashboard"]}');
INSERT INTO public.users VALUES (52, 'priyu', 'gugank627@gmail.com', '19a9efee010bdc16a8b8d756b50038434752cae3af85babc710ca71a0e7f717b', 'priy', 'sub_admin', 'active', true, '2025-09-18 11:07:57.834753', '2025-09-18 11:07:57.834753', '{"actions": ["read"], "modules": ["dashboard"]}');


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_id_seq', 3, true);


--
-- Name: designations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designations_id_seq', 11, true);


--
-- Name: email_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_notifications_id_seq', 1, false);


--
-- Name: system_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_settings_id_seq', 116, true);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 53, true);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: courses courses_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_name_key UNIQUE (name);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: designations designations_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designations
    ADD CONSTRAINT designations_name_key UNIQUE (name);


--
-- Name: designations designations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designations
    ADD CONSTRAINT designations_pkey PRIMARY KEY (id);


--
-- Name: email_notifications email_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_notifications
    ADD CONSTRAINT email_notifications_pkey PRIMARY KEY (id);


--
-- Name: invoice_images invoice_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_images
    ADD CONSTRAINT invoice_images_pkey PRIMARY KEY (id);


--
-- Name: invoice_items invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_pkey PRIMARY KEY (id);


--
-- Name: invoice_transactions invoice_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_transactions
    ADD CONSTRAINT invoice_transactions_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: lenders lenders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lenders
    ADD CONSTRAINT lenders_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_order_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_order_number_key UNIQUE (order_number);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: product_transactions product_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_transactions
    ADD CONSTRAINT product_transactions_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: student_acknowledgments student_acknowledgments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_acknowledgments
    ADD CONSTRAINT student_acknowledgments_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_category_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_category_key_key UNIQUE (category, key);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_access_token_jti_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_access_token_jti_key UNIQUE (access_token_jti);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_refresh_token_jti_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_refresh_token_jti_key UNIQUE (refresh_token_jti);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_email_notifications_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_notifications_order_id ON public.email_notifications USING btree (order_id);


--
-- Name: idx_email_notifications_sent_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_notifications_sent_at ON public.email_notifications USING btree (sent_at);


--
-- Name: idx_invoice_images_image_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_images_image_type ON public.invoice_images USING btree (image_type);


--
-- Name: idx_invoice_images_invoice_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_images_invoice_id ON public.invoice_images USING btree (invoice_id);


--
-- Name: idx_invoice_items_invoice_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_items_invoice_id ON public.invoice_items USING btree (invoice_id);


--
-- Name: idx_invoice_items_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_items_product_id ON public.invoice_items USING btree (product_id);


--
-- Name: idx_invoice_transactions_invoice_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_transactions_invoice_id ON public.invoice_transactions USING btree (invoice_id);


--
-- Name: idx_invoices_invoice_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_invoice_number ON public.invoices USING btree (invoice_number);


--
-- Name: idx_invoices_issue_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_issue_date ON public.invoices USING btree (issue_date);


--
-- Name: idx_invoices_issued_by_lender; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_issued_by_lender ON public.invoices USING btree (issued_by_lender);


--
-- Name: idx_invoices_lender_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_lender_id ON public.invoices USING btree (lender_id);


--
-- Name: idx_invoices_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_order_id ON public.invoices USING btree (order_id);


--
-- Name: idx_invoices_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_status ON public.invoices USING btree (status);


--
-- Name: idx_invoices_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoices_student_id ON public.invoices USING btree (student_id);


--
-- Name: idx_lenders_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lenders_department ON public.lenders USING btree (department);


--
-- Name: idx_lenders_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lenders_email ON public.lenders USING btree (email);


--
-- Name: idx_lenders_employee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lenders_employee_id ON public.lenders USING btree (employee_id);


--
-- Name: idx_lenders_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lenders_is_active ON public.lenders USING btree (is_active);


--
-- Name: idx_lenders_lender_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lenders_lender_id ON public.lenders USING btree (lender_id);


--
-- Name: idx_lenders_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lenders_name ON public.lenders USING btree (name);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_type ON public.notifications USING btree (type);


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: idx_order_items_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_product_id ON public.order_items USING btree (product_id);


--
-- Name: idx_orders_approved_by_lender; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_approved_by_lender ON public.orders USING btree (approved_by_lender);


--
-- Name: idx_orders_lender_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_lender_id ON public.orders USING btree (lender_id);


--
-- Name: idx_orders_order_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_order_number ON public.orders USING btree (order_number);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: idx_orders_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_student_id ON public.orders USING btree (student_id);


--
-- Name: idx_product_transactions_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_product_transactions_product_id ON public.product_transactions USING btree (product_id);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_sku ON public.products USING btree (sku);


--
-- Name: idx_products_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_status ON public.products USING btree (status);


--
-- Name: idx_settings_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_settings_category ON public.system_settings USING btree (category);


--
-- Name: idx_settings_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_settings_key ON public.system_settings USING btree (category, key);


--
-- Name: idx_student_acknowledgments_invoice_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_acknowledgments_invoice_id ON public.student_acknowledgments USING btree (invoice_id);


--
-- Name: idx_students_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_students_email ON public.students USING btree (email);


--
-- Name: idx_students_email_flexible; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_students_email_flexible ON public.students USING btree (email);


--
-- Name: idx_students_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_students_student_id ON public.students USING btree (student_id);


--
-- Name: idx_students_student_id_flexible; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_students_student_id_flexible ON public.students USING btree (student_id);


--
-- Name: lenders_email_unique_when_not_empty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX lenders_email_unique_when_not_empty ON public.lenders USING btree (email) WHERE ((email IS NOT NULL) AND ((email)::text <> ''::text));


--
-- Name: lenders_employee_id_unique_when_not_empty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX lenders_employee_id_unique_when_not_empty ON public.lenders USING btree (employee_id) WHERE ((employee_id IS NOT NULL) AND ((employee_id)::text <> ''::text));


--
-- Name: lenders_lender_id_unique_when_not_empty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX lenders_lender_id_unique_when_not_empty ON public.lenders USING btree (lender_id) WHERE ((lender_id IS NOT NULL) AND ((lender_id)::text <> ''::text));


--
-- Name: students_email_unique_when_not_empty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX students_email_unique_when_not_empty ON public.students USING btree (email) WHERE ((email IS NOT NULL) AND ((email)::text <> ''::text));


--
-- Name: students_student_id_unique_when_not_empty; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX students_student_id_unique_when_not_empty ON public.students USING btree (student_id) WHERE ((student_id IS NOT NULL) AND ((student_id)::text <> ''::text));


--
-- Name: orders create_lending_invoice_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER create_lending_invoice_trigger AFTER UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.create_lending_invoice();


--
-- Name: invoices generate_invoice_number_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER generate_invoice_number_trigger BEFORE INSERT ON public.invoices FOR EACH ROW WHEN (((new.invoice_number IS NULL) OR ((new.invoice_number)::text = ''::text))) EXECUTE FUNCTION public.generate_invoice_number();


--
-- Name: lenders generate_lender_id_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER generate_lender_id_trigger BEFORE INSERT ON public.lenders FOR EACH ROW EXECUTE FUNCTION public.generate_lender_id();


--
-- Name: students generate_student_id_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER generate_student_id_trigger BEFORE INSERT ON public.students FOR EACH ROW EXECUTE FUNCTION public.generate_student_id();


--
-- Name: categories update_categories_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: invoice_items update_invoice_items_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_invoice_items_updated_at BEFORE UPDATE ON public.invoice_items FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: invoices update_invoices_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_invoices_updated_at BEFORE UPDATE ON public.invoices FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: lenders update_lenders_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_lenders_updated_at BEFORE UPDATE ON public.lenders FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: order_items update_order_items_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_order_items_updated_at BEFORE UPDATE ON public.order_items FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: orders update_orders_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_orders_updated_at BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: order_items update_product_quantity_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_product_quantity_trigger AFTER INSERT OR DELETE OR UPDATE ON public.order_items FOR EACH ROW EXECUTE FUNCTION public.update_product_quantity();


--
-- Name: products update_products_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: students update_students_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_students_updated_at BEFORE UPDATE ON public.students FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: invoice_images invoice_images_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_images
    ADD CONSTRAINT invoice_images_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoice_items invoice_items_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoice_items invoice_items_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(id) ON DELETE SET NULL;


--
-- Name: invoice_items invoice_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: invoice_transactions invoice_transactions_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_transactions
    ADD CONSTRAINT invoice_transactions_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoices invoices_issued_by_lender_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_issued_by_lender_fkey FOREIGN KEY (issued_by_lender) REFERENCES public.lenders(id) ON DELETE SET NULL;


--
-- Name: invoices invoices_lender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_lender_id_fkey FOREIGN KEY (lender_id) REFERENCES public.lenders(id) ON DELETE SET NULL;


--
-- Name: invoices invoices_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: invoices invoices_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: orders orders_approved_by_lender_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_approved_by_lender_fkey FOREIGN KEY (approved_by_lender) REFERENCES public.lenders(id) ON DELETE SET NULL;


--
-- Name: orders orders_lender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_lender_id_fkey FOREIGN KEY (lender_id) REFERENCES public.lenders(id) ON DELETE SET NULL;


--
-- Name: orders orders_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: product_transactions product_transactions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_transactions
    ADD CONSTRAINT product_transactions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: student_acknowledgments student_acknowledgments_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_acknowledgments
    ADD CONSTRAINT student_acknowledgments_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: student_acknowledgments student_acknowledgments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_acknowledgments
    ADD CONSTRAINT student_acknowledgments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ksIWCh7e0UNTqNQDYOjPh6manSGihyqXjSLt1We7MU2CVQm1vFvebFQpgXaIHC9

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict eIat0SIUD2D6ZCUU9MMqPAc2Cpb33fjdVaf2WdYReVZyqewahblRI7lnT9zyyeK

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict eIat0SIUD2D6ZCUU9MMqPAc2Cpb33fjdVaf2WdYReVZyqewahblRI7lnT9zyyeK

--
-- PostgreSQL database cluster dump complete
--

